.gradle
.idea
build/
out/
.DS_Store

parser/src/main/java/com/fooock/robotstxt/parser/generated/
parser/grammar/*.tokens
setup/redis/redis-stable/
setup/redis/*.aof
setup/redis/*.conf
setup/redis/*.log
setup/redis/*.rdb

grafana-data/
provision/prometheus-node-exporter/remote
provision/redis/remote
provision/nginx/remote
provision/inventory.prod
